################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.Contracts.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.Contracts.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Templates.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Templates.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Aliyun.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Aliyun.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.HttpOverrides.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.HttpOverrides.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Mvc.Wrapper.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Mvc.Wrapper.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Wrapper.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Wrapper.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.Elasticsearch.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.Elasticsearch.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Authentication.QQ.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Authentication.QQ.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.Application.Contracts.dll
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.Application.Contracts.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.Application.dll
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.Application.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.HttpApi.dll
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.HttpApi.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.Templates.dll
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Account.Templates.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer.HttpApi.Host/bin/Debug/net8.0/ZQH.Abp.Aliyun.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.Contracts.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.Contracts.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Application.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Templates.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Account.Templates.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Aliyun.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Aliyun.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.HttpOverrides.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.HttpOverrides.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Mvc.Wrapper.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Mvc.Wrapper.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Wrapper.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AspNetCore.Wrapper.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.Elasticsearch.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.Elasticsearch.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.AuditLogging.pdb
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Authentication.QQ.dll
/aspnet-core/services/ZQH.MicroService.AuthServer/bin/Debug/net8.0/ZQH.Abp.Authentication.QQ.pdb
